@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Slab:wght@100..900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: aliceblue;
    font-family: "Roboto",sans-serif;
}

.calculator{
    background: linear-gradient(145deg,#2c2c2c,#1a1a1a);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 
    0 10px 30px rgba(0, 0, 0, 0.5),
    inset 0 2px 5px rgba(255, 255, 255, 0.5);
    width: 320px;
    max-width: 90%;
}
.display{
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 28px;
    color: #ffffff;
    text-align: right;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-family: "Orbitron",sans-serif;
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
}
button{
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(145deg,#4a4a4a,#3a3a3a);
    color: #ffffff;
    cursor: pointer;
    transition: 
    transform 0.1s
    box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
button:hover{
    background: linear-gradient(145deg,#5a5a5a,#4a4a4a);
    box-shadow: 0 6px 15px rgba(0,0, 0, 0.4);
}
button:active{
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.operators{
    background: linear-gradient(145deg,#ffaa33,#e68a00);
}
.equals{
    background: linear-gradient(145deg,#8d652e,#cfaf7e);
    grid-column: span 2;
}
.clear{
    background: linear-gradient(145deg,#3c2d18,#e68a00);
}
.clear:hover{
    background: linear-gradient(145deg,#e8ca46,#bfaa8b);
}